{% extends 'site_template.html' %}

{% block css %}
{% load staticfiles %}
<link href="{% static "css/modal.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
<title>Players registration</title>
{% endblock %}

{% block content %}
<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>

			<h2 class="intro-text text-center">
				<strong>S'inscrire</strong> au tournoi
			</h2>

			<hr>
			<div class="panel-body">

				<!-- Button for participants that previously take part on the tournament -->
				<div class="col-md-2 col-md-offset-5">
					<button  type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#emailModal"><strong>Déjà participé</strong></button></p>
				</div>
				<!-- Modal view -->
				<div id="emailModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Utilisez vos emails des précédents tournois.</h4>
							</div>
							<div class="modal-body">
								<form action="{% url "players.views.filled_registration"  %}" method="post">
									{% csrf_token %}
									<div class="row field">

										<div class="col-sm-4">
											<label for="id_firstname">Email du joueur 1:</label>
										</div>
										<div class="col-sm-4">
											{{ email1.email }}
										</div>
										<div class="col-sm-4 required">
											{{ email1.email.errors }}
										</div>
									</div>
									<div class="row field">
										<div class="col-sm-4">
											<label for="id_firstname">Email du joueur 2:</label>
										</div>
										<div class="col-sm-4">
											{{ email2.email }}
										</div>
										<div class="col-sm-4 required">
											{{ email2.email.errors }}
										</div>
									</div>
									<input type="submit" value="Envoyer" />
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

				<!-- REGISTRATION FORM-->
				<form action="{% url "players.views.register" %}" method="post">
					{% csrf_token %}
					<div class = "row">

						<!--Player 1 registration-->
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">Joueur 1</h4>
								</div>

								<div class="panel-body">
									{{ usr1.non_field_errors }}
									<div class="row field">
										<div class="col-sm-4">
											<label for="id_firstname">Prénom:</label>
										</div>
										<div class="col-sm-4">
											{{ usr1.firstname }}
										</div>
										<div class="col-sm-4 required">
											{{ usr1.firstname.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_lastname">Nom:</label>
										</div>
										<div class="col-sm-4">
											{{ usr1.lastname }}
										</div>
										<div class="col-sm-4 required">
											{{ usr1.lastname.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_lastname">Sexe:</label>
										</div>
										<div class="col-sm-4">
											{{ usr1.gender }}
										</div>
										<div class="col-sm-4 required">
											{{ usr1.gender.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_lastname">Date de naissance:</label>
										</div>
										<div class="col-sm-4">
											{{ usr1.birthdate }}
										</div>
										<div class="col-sm-4 required">
											{{ usr1.birthdate.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_address">Rue:</label>
										</div>
										<div class="col-sm-4">
											{{ usr1.address_street }}
										</div>
										<div class="col-sm-4 required">
											{{ usr1.address_street.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_address">Numéro:</label>
										</div>
										<div class="col-sm-4">
											{{ usr1.address_number }}
										</div>
										<div class="col-sm-4 required">
											{{ usr1.address_number.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_address">Boite:</label>
										</div>
										<div class="col-sm-4">
											{{ usr1.address_box }}
										</div>
										<div class="col-sm-4 required">
											{{ usr1.address_box.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_city">Ville:</label>
										</div>
										<div class="col-sm-4">
											{{ usr1.city }}
										</div>
										<div class="col-sm-4 required">
											{{ usr1.city.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_zipcode">Code zip:</label>
										</div>
										<div class="col-sm-4">
											{{ usr1.zipcode }}
										</div>
										<div class="col-sm-4 required">
											{{ usr1.zipcode.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_country">Pays:</label>
										</div>
										<div class="col-sm-4">
											{{ usr1.country }}
										</div>
										<div class="col-sm-4 required">
											{{ usr1.country.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_email">Email:</label>
										</div>
										<div class="col-sm-4">
											{{ usr1.email }}
										</div>
										<div class="col-sm-4 required">
											{{ usr1.email.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_phone">Téléphone:</label>
										</div>
										<div class="col-sm-4">
											{{ usr1.phone }}
										</div>
										<div class="col-sm-4 required">
											{{ usr1.phone.errors }}
										</div>
									</div>

									<br/>
									{{ reg1.non_field_errors }}

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_level">Niveau:</label>
										</div>
										<div class="col-sm-4">
											{{ reg1.level }}
										</div>
										<div class="col-sm-4 required">
											{{ reg1.level.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_bbq">BBQ:</label>
										</div>
										<div class="col-sm-4">
											{{ reg1.bbq }}
										</div>
										<div class="col-sm-4 required">
											{{ reg1.bbq.errors }}
										</div>
									</div>

								</div>
							</div>
						</div>

						<!--Player 2 registration-->
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">Joueur 2</h4>
								</div>

								<div class="panel-body">
									{{ usr2.non_field_errors }}
									<div class="row field">
										<div class="col-sm-4">
											<label for="id_firstname">Prénom:</label>
										</div>
										<div class="col-sm-4">
											{{ usr2.firstname }}
										</div>
										<div class="col-sm-4 required">
											{{ usr2.firstname.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_lastname">Nom:</label>
										</div>
										<div class="col-sm-4">
											{{ usr2.lastname }}
										</div>
										<div class="col-sm-4 required">
											{{ usr2.lastname.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_lastname">Sexe:</label>
										</div>
										<div class="col-sm-4">
											{{ usr2.gender }}
										</div>
										<div class="col-sm-4 required">
											{{ usr2.gender.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_lastname">Date de naissance:</label>
										</div>
										<div class="col-sm-4">
											{{ usr2.birthdate }}
										</div>
										<div class="col-sm-4 required">
											{{ usr2.birthdate.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_address">Rue:</label>
										</div>
										<div class="col-sm-4">
											{{ usr2.address_street }}
										</div>
										<div class="col-sm-4 required">
											{{ usr2.address_street.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_address">Numéro:</label>
										</div>
										<div class="col-sm-4">
											{{ usr2.address_number }}
										</div>
										<div class="col-sm-4 required">
											{{ usr2.address_number.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_address">Boite:</label>
										</div>
										<div class="col-sm-4">
											{{ usr2.address_box }}
										</div>
										<div class="col-sm-4 required">
											{{ usr2.address_box.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_city">Ville:</label>
										</div>
										<div class="col-sm-4">
											{{ usr2.city }}
										</div>
										<div class="col-sm-4 required">
											{{ usr2.city.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_zipcode">Code zip:</label>
										</div>
										<div class="col-sm-4">
											{{ usr2.zipcode }}
										</div>
										<div class="col-sm-4 required">
											{{ usr2.zipcode.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_country">Pays:</label>
										</div>
										<div class="col-sm-4">
											{{ usr2.country }}
										</div>
										<div class="col-sm-4 required">
											{{ usr2.country.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_email">Email:</label>
										</div>
										<div class="col-sm-4">
											{{ usr2.email }}
										</div>
										<div class="col-sm-4 required">
											{{ usr2.email.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_phone">Téléphone:</label>
										</div>
										<div class="col-sm-4">
											{{ usr2.phone }}
										</div>
										<div class="col-sm-4 required">
											{{ usr2.phone.errors }}
										</div>
									</div>

									<br/>
									{{ reg2.non_field_errors }}

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_level">Niveau:</label>
										</div>
										<div class="col-sm-4">
											{{ reg2.level }}
										</div>
										<div class="col-sm-4 required">
											{{ reg2.level.errors }}
										</div>
									</div>

									<div class="row field">
										<div class="col-sm-4">
											<label for="id_bbq">BBQ:</label>
										</div>
										<div class="col-sm-4">
											{{ reg2.bbq }}
										</div>
										<div class="col-sm-4 required">
											{{ reg2.bbq.errors }}
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<!-- PAYMENT RECAPS (bbq, etc)-->
					<div class="panel panel-default">
						<div class="panel-heading">
							<em><strong><i>Récapitulatif de votre soutiens pour les projets de l'asble asmae :</i></strong></em>
						</div>
						<div class="panel-body">

							<p>2 x 20€ : Inscription au tournoi de tennis.</p>
							<p>1 x 15€ : Barbecue de 12h30 à 15h (boisons non comprises).<p>
							<br>
							<p>TOTAL = 55€</p>

						</div>
					</div>

					<!-- REGISTRATION OPTIONS (payment method, comments, etc) -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">Détails</h4>
						</div>
						<div class="panel-body">
							<div class="row field">
								<div class="col-sm-4">
									<label for="id_bbq">Tournoi:</label>
								</div>
								<div class="col-sm-4">
									{{ trn.tournament }}
								</div>
								<div class="col-sm-4 required">
									{{ trn.tournament.errors }}
								</div>
							</div>

							<div class="row field">
								<div class="col-sm-4">
									<label for="id_bbq">Moyen de paiement:</label>
								</div>
								<div class="col-sm-4">
									{{ pair.payment_method }}
								</div>
								<div class="col-sm-4 required">
									{{ pair.payment_method.errors }}
								</div>
							</div>

							<div class="row field">
								<div class="col-sm-4">
									<label for="id_bbq">Commentaires:</label>
								</div>
								<div class="col-sm-4">
									{{ pair.comment }}
								</div>
								<div class="col-sm-4 required">
									{{ pair.comment.errors }}
								</div>
							</div>
						</div>
					</div>

					<input type="submit" value="Inscription" />
					<input type="submit" value="Inscription solo" name="solo_registration" onclick="return confirm('If you want to register in solo, we will try to match you in a pair with another user that is in the same situation.\nIf you are OK with that, please make sure you filled the form as Player 1 and chose the correct tournament before confirming this message.')"/>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
