{% extends 'site_template.html' %}
{% load static from staticfiles %}
{% block title %}
<title>Sponsors</title>
{% endblock %}
{% block content %}
	<div class="row">
		<div class="box">
			<div class="col-lg-12">
				<hr>
				<h2 class="intro-text text-center">Nos
					<strong>sponsors</strong>
				</h2>
				<hr>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<div class="sponsors-img">
								<a href="http://www2.deloitte.com/be/en.html"><img class="img-responsive img-border img-center" src="{% static "img/sponsor_deloitte.jpg" %}" alt="Deloitte"></a>
							</div>
							<div class="sponsors-img">
								<a href="http://www.eventail.be/"><img class="img-responsive img-border img-center" src="{% static "img/sponsor_eventail.jpg" %}" alt="Eventail"></a>
							</div>
							<div class="sponsors-img">
								<a href="http://www.exki.be/"><img class="img-responsive img-border img-center" src="{% static "img/sponsor_exki.jpg" %}" alt="Exki"></a>
							</div>
							<div class="sponsors-img">
								<a href="http://www.hayez.be/"><img class="img-responsive img-border img-center" src="{% static "img/sponsor_hayez.jpg" %}" alt="Hayez"></a>
							</div>
							<div class="sponsors-img">
								<a href="http://www.lalibre.be/"><img class="img-responsive img-border img-center" src="{% static "img/sponsor_lalibre.jpg" %}" alt="La libre"></a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="sponsors-img">
								<a href="http://www.mannes.be/"><img class="img-responsive img-border img-center" src="{% static "img/sponsor_mannes.jpg" %}" alt="Mannes"></a>
							</div>
							<div class="sponsors-img">
								<a href="http://www.raidillon-watches.com/"><img class="img-responsive img-border img-center" src="{% static "img/sponsor_raidillon.jpg" %}" alt="Raidillon"></a>
							</div>
							<div class="sponsors-img">
								<a href="http://www.vw.be/"><img class="img-responsive img-border img-center" src="{% static "img/sponsor_vw.jpg" %}" alt="VolksWagen"></a>
							</div>
							<div class="sponsors-img">
								<a href="http://www.weplay.be/wp/"><img class="img-responsive img-border img-center" src="{% static "img/sponsor_weplay.jpg" %}" alt="We play"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Copyright &copy; 2015 - <a href="/players/unregister">Droit à l'oubli</a> - <a href="/staff/home">Staff</a> - <a href="/admin">Admin</a></p>
      </div>
    </div>
  </div>
{% endblock %}
