.container {
    margin-top: 30px;
}
.navbar-custom{
    background-color: #FACC2E;
}
.nav.navbar-nav li a {
    color: #FAFAFA;
    line-height: 82px;
    height: 82px;
    padding-top: 0;
}
.nav.navbar-nav{
    margin-left: 30px;
}
.navbar-form.navbar-right{
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}
body{
    background-color: #F5F6CE !important;
}