{% extends 'site_template.html' %}

{% block title %}
<title>Courts</title>
{% endblock %}

{% block content %}
<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h2 class="intro-text text-center">{{ court_owner }}
				<strong>courts</strong>
			</h2>
			<hr>

			<div>
				{% for c in courts %}
        <div class="panel panel-default panel-body">
          <p> <b>Addresse:</b> {{ c.address_street }} {{ c.address_number }}</p>
          <p> <b>Terrain:</b> {{ c.ground }} </p>
        </div>
				{% endfor %}
			</div>



			<div>
				{% for i in match_list %}
				{% for j in i %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><b>Court:</b> {{ j.court.address }}</h4>
					</div>
					<div class="panel-body">
						<p> <b>Team 1:</b> {{ j.team1 }} </p>
						<p> <b>Team 2:</b> {{ j.team2 }} </p>
					</div>
				</div>
				{% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
