{% extends 'staff_template.html' %}

{% block title %}
<title>Charles de Lorraine - Staff page</title>
{% endblock %}

{% block nav %}
	<li><a href="{% url "staff.views.home" %}">Acceuil</a></li>
	<li><a href="{% url "staff.views.players" %}">Joueurs</a></li>
	<li><a href="{% url "staff.views.courts" %}">Terrains</a></li>
	<li><a href="{% url "tournament.views.all" %}">Tournois</a></li>
	<li><a href="https://github.com/ivanahad/sep2015E/wiki">Wiki</a></li>
	<li><a href="{% url "staff.views.logout_staff" %}">Logout</a></li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<!-- DISPLAY LIST OF TOURNAMENTS -->
			<hr>
			<h2 class="intro-text text-center">Liste des
				<strong>tournois actuels</strong>
			</h2>
			<hr>
			<!-- CREATE A NEW TOURNAMENT -->

      {% if user.is_staff %} <!-- enable this section if user is staff -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Créer un nouveau tournoi</h3>
        </div>

        <div class="panel-body">
          <form action="{% url "tournament.views.all" %}" method="post">
            {% csrf_token %}
            {{ new_tournament.non_field_errors }}
						<div class="row field">
							<div class="col-sm-4">
								<label for="id_name"> Nom :</label>
							</div>
							<div class="col-sm-4">
								{{ new_tournament.name }}
							</div>
							<div class="col-sm-4 required">
								{{ new_tournament.name.errors }}
							</div>
						</div>
						<div class="row field">
							<div class="col-sm-4">
								<label for="id_category"> Catégories :</label>
							</div>
							<div class="col-sm-4">
								{{ new_tournament.category }}
							</div>
							<div class="col-sm-4 required">
								{{ new_tournament.category.errors }}
							</div>
						</div>
						<div class="row field">
							<div class="col-sm-4">
								<label for="id_pool_size"> Joueurs par pool :</label>
							</div>
							<div class="col-sm-4">
								{{ new_tournament.pool_size }}
							</div>
							<div class="col-sm-4 required">
								{{ new_tournament.pool_size.errors }}
							</div>
						</div>
						<div class="row field">
							<div class="col-sm-4">
								<label for="id_mixte"> Mixte :</label>
							</div>
							<div class="col-sm-4">
								{{ new_tournament.mixte }}
							</div>
							<div class="col-sm-4 required">
								{{ new_tournament.mixte.errors }}
							</div>
						</div>
            <input type="submit" value="Créer" name="create_tournament" class="btn btn-warning"/>
          </form>
        </div>

      </div>
      {% endif %}


			<div class="row">
				{% for t in tournaments %}
				<div class="col-md-4">
	        <a href="{% url "tournament.views.tournamentStaff" t.tournament.pk %}"
	           class="tournament-a-block">
	          <div class="panel panel-default panel-body tournament-a-block">
								<table class="table">
			            <tr>
										<td>Tournoi:</td> <td>{{ t.tournament.name }}</td>
									</tr>
			            <tr>
										<td>Catégorie:</td> <td>{{ t.tournament.category }}</td>
									</tr>
			            <tr>
										 <td>Nombre de paires enregistrées:</td> <td>{{ t.pair_count }}</td>
									 </tr>
			            {% if t.tournament.is_open %}
			            <tr>
										<td>Nombre de joueurs solo:</td> <td>{{ t.solo_count }}</td>
									</tr>
			            {% endif %}
			            <tr>
										<td>Status:</td> <td>{{ t.status }}</td>
									</tr>
								</table>
	          </div>
	        </a>
				</div>
				{% endfor %}
			</div>

		</div>
	</div>
</div>

{% endblock %}
