{% extends 'staff_template.html' %}
{% load static from staticfiles %}

{% block css %}
<script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.bracket.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.bracket.min.css" %}" />
{% endblock %}

{% block nav %}
	<li><a href="{% url "staff.views.home" %}">Acceuil</a></li>
	<li><a href="{% url "staff.views.players" %}">Joueurs</a></li>
	<li><a href="{% url "staff.views.courts" %}">Terrains</a></li>
	<li><a href="{% url "tournament.views.all" %}">Tournois</a></li>
	<li><a href="https://github.com/ivanahad/sep2015E/wiki">Wiki</a></li>
	<li><a href="{% url "staff.views.logout_staff" %}">Logout</a></li>
{% endblock %}

{% block title %}
<title>Charles de Lorraine - Details of
  {{ trn.name }} {{ trn.category }}
</title>
{% endblock %}

{% block content %}
<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h2 class="intro-text text-center">
         		Détails du tournoi {{ trn.name }} catégorie {{ trn.category }}
			</h2>
			<hr>

			<!-- DETAILS ON TOURNAMENT -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> Informations </h3>
        </div>

        <div class="panel-body">
					<table class="table">
						<tr>
							<td> Mixte:</td>
							 <td>{{ trn.mixte }} </td>
						</tr>
						<tr>
							<td> Saison: </td>
							<td>{{ trn.season }} </td>
						</tr>
						<tr>
							<td> Nombre de paires enregistrées:</td>
							 <td>{{ nbr_p }} </td>
						</tr>
						{% if trn.is_open %}
						<tr>
							<td> Nombre de participants solo:</td>
							 <td>{{ nbr_s }} </td>
						</tr>
						{% endif %}
						<tr>
							<td> Joueurs par pool:</td>
							 <td>{{ trn.pool_size }} </td>
						</tr>
						<tr>
							<td> Inscriptions ouvertes:</td>
							 <td>{{ trn.is_open }} </td>
						</tr>
				</table>
        </div>
      </div>

      <!-- Registered pairs -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> Paires inscrites </h3>
        </div>

        <div class="panel-body">
					<ul class="list-group">
          {% for p in parts %}
          	<li class="list-group-item"> <a href="{% url "staff.views.particular_pair" p.pk %}">{{ p.player1 }} - {{ p.player2 }}</a> </li>
          {% endfor %}
					</ul>
        </div>
      </div>

      <!-- Solo players -->
      {% if trn.is_open %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> Participants solo </h3>
        </div>

        <div class="panel-body">
					<ul class="list-group">
	          {% for p in solos %}
	          <li class="list-group-item"> <a href="{% url "staff.views.particular_player" 1 p.id %}"> {{ p }}</a> </li>
	          {% endfor %}
					</ul>
        </div>
				<div class="panel-footer">
					<a href="{% url "tournament.views.assign_pairs_for_solo_automatic" trn.pk %}">
						<button type="button" class="btn btn-info">Créer paires automatiquement</button>
					</a>
				</div>
      </div>
      {% endif %}

	  <!-- Bracket -->
	  <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> Bracket </h3>
        </div>

        <div class="panel-body">
          	<div id="bracket"></div>
        </div>
      </div>

      <!-- Pools -->
      {% if not trn.is_open %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> Pools </h3>
        </div>
        <div class="panel-body">
					<div class="row">
          {% for pool in pools %}
						<div class="col-md-4">
									<ul class="list-group">
 										<a href="{% url "tournament.views.pool" trn.id pool.0.number %}" class="list-group-item list-group-item-info">
											Pool {{ pool.0.number }}
										</a>
										{% for p in pool.1 %}
				            <li class="list-group-item"> {{ p.participant.player1 }} -  {{ p.participant.player2 }}</li>
				            {% endfor %}
									</ul>
						</div>
          {% endfor %}
					</div>
        </div>
				<div class="panel-footer">
					<a href="{% url "tournament.views.modify_pools" trn.pk 1 0 %}">
						<button type="button" class="btn btn-warning"> Modifier pools</button>
					</a>
				</div>
			</div>
      {% endif %}

      {% if user.is_staff and trn.is_open %}
      <!-- enable this section only if user is staff -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"> Fermer les inscriptions </h3>
        </div>

        <div class="panel-body">
          <form action="{% url "tournament.views.tournament" trn.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Lancer le tournoi" onclick="return confirm('Etes vous sûr ? Une fois que le tournoi lancé, plus aucun joueur ne pourra s'y inscrire.')" name="close_tournament"/>
          </form>
        </div>
      </div>
      {% endif %}


		</div>
	</div>
</div>

{% endblock %}

{% block script %}

	<script>
	var pools = [];
	var pair = [];
	{% for pool in pools %}
		pair[parseInt("{{ pool.0.number }}")] = 'Pool '+"{{ pool.0.number }}";
		if (((parseInt("{{ pool.0.number }}")+1) % 2) == 0) {
			pools[Math.floor(parseInt("{{ pool.0.number }}")/2)] = pair;
		}
	{% endfor %}
	var dataBracket = {
	    teams : pools,
	    results : []
	}

	/* Called whenever bracket is modified
	 *
	 * data:     changed bracket object in format given to init
	 * userData: optional data given when bracket is created.
	 */
	function saveFn(data, userData) {
	  var json = jQuery.toJSON(data)
	  $('#saveOutput').text('POST '+userData+' '+json)
	  /* You probably want to do something like this
	  jQuery.ajax("rest/"+userData, {contentType: 'application/json',
	                                dataType: 'json',
	                                type: 'post',
	                                data: json})
	  */
	}

	$(function() {
	    var container = $('#bracket')
	    container.bracket({
	      init: dataBracket,
		  skipConsolationRound: true,
	      save: saveFn,
	      userData: "http://myapi"})

	    /* You can also inquiry the current data */
	    var data = container.bracket('data')
	    $('#dataOutput').text(jQuery.toJSON(data))
	  })
	</script>

{% endblock %}
