{% extends 'site_template.html' %}
{% load static from staticfiles %}

{% block css %}
<script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.bracket.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.bracket.min.css" %}" />
{% endblock %}

{% block title %}
<title>Charles de Lorraine - Details of
  {{ trn.name }} {{ trn.category }}
</title>
{% endblock %}

{% block content %}
<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h2 class="intro-text text-center">
        Details of tournament {{ trn.name }} category {{ trn.category }}
			</h2>
			<hr>

      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"> Informations </h3>
        </div>

        <div class="panel-body">
          <p> Season: {{ trn.season }} </p>
          <p> Number of registered pairs: {{ nbr_p }} </p>
          {% if trn.is_open %}
          <p> Number of solo participants: {{ nbr_s }} </p>
          {% endif %}
          <p> Players per pool: {{ trn.pool_size }} </p>
          <p> Registrations open: {{ trn.is_open }} </p>
        </div>
      </div>

      <!-- Registered pairs -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"> Registered pairs </h3>
        </div>

        <div class="panel-body">
          {% for p in parts %}
          <p> {{ p.player1 }}
              - {{ p.player2 }} </p>
          {% endfor %}
        </div>
      </div>

      <!-- Solo players -->
      {% if trn.is_open %}
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"> Solo participants </h3>
        </div>

        <div class="panel-body">
          {% for p in solos %}
          <p> {{ p }} </p>
          {% endfor %}
        </div>
      </div>
      {% endif %}

	  <!-- Bracket -->
	  <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"> Bracket </h3>
        </div>

        <div class="panel-body">
          	<div id="bracket"></div>
        </div>
      </div>

      <!-- Pools -->
      {% if not trn.is_open %}
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"> Pools </h3>
        </div>

        <div class="panel-body">
          {% for pool in pools %}
          <div class="panel">
            <h3 class="panel-title"> <a href="{% url "tournament.views.pool" trn.id pool.0.number %}"> Pool {{ pool.0.number }} </a></h3>
            {% for p in pool.1 %}
            <p> {{ p }} </p>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
			</div>
      {% endif %}

      {% if True and trn.is_open %}
      <!-- enable this section only if user is staff -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"> Close registrations </h3>
        </div>

        <div class="panel-body">
          <form action="{% url "tournament.views.tournament" trn.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Launch the tournament" onclick="return confirm('Are you sure ? Once the tournament has been launched, no player will be able to register for it.')" name="close_tournament"/>
          </form>
        </div>
      </div>
      {% endif %}


		</div>
	</div>
</div>

{% endblock %}

{% block script %}

	<script>
	var pools = [];
	var pair = [];
	{% for pool in pools %}
		pair[parseInt("{{ pool.0.number }}")] = 'Pool '+"{{ pool.0.number }}";
		if (((parseInt("{{ pool.0.number }}")+1) % 2) == 0) {
			pools[Math.floor(parseInt("{{ pool.0.number }}")/2)] = pair;
		}
	{% endfor %}
	var dataBracket = {
	    teams : pools,
	    results : []
	}

	/* Called whenever bracket is modified
	 *
	 * data:     changed bracket object in format given to init
	 * userData: optional data given when bracket is created.
	 */
	function saveFn(data, userData) {
	  var json = jQuery.toJSON(data)
	  $('#saveOutput').text('POST '+userData+' '+json)
	  /* You probably want to do something like this
	  jQuery.ajax("rest/"+userData, {contentType: 'application/json',
	                                dataType: 'json',
	                                type: 'post',
	                                data: json})
	  */
	}

	$(function() {
	    var container = $('#bracket')
	    container.bracket({
	      init: dataBracket,
		  skipConsolationRound: true,
	      save: saveFn,
	      userData: "http://myapi"})

	    /* You can also inquiry the current data */
	    var data = container.bracket('data')
	    $('#dataOutput').text(jQuery.toJSON(data))
	  })
	</script>

{% endblock %}
