{% extends 'staff_template.html' %}

{% block title %}
<title> {{ trn.name }} - Pool {{ pool.0.number }}
</title>
{% endblock %}

{% block content %}
<!-- DISPLAY A POOL -->
<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">
        Tournoi {{ trn.name }} - Pool {{ pool.number }}
      </h2>
      <hr>

      <div class="panel">
        <table class="table">
          <thead>
            <th>Id</th>
            <th>Paires</th>
            {% for match in matches %}
            <th>{{match.0}}</th>
            {% endfor %}
            <th>Victoires</th>
          </thead>
          {% for match in matches %}
		  {% if winner != None and winner.0.id == match.0.id %}
          <tr style="background:#01DF3A">
		  {% else %}
		  <tr>
		  {% endif %}
            <td>{{ match.0.id }}</td>
            <td>{{ match.0 }}</td>
            {% for m in match.1 %}
              {% if m == "blank" %}
              <td>-</td>
              {% else %}
              <!-- MODAL TO EDIT MATCH SCORE AND COURT -->
            <td><a href="#" data-toggle="modal" data-target="#matchModal">
                {% if match.0.pk == m.team1.pk and m.score1 > m.score2 %}
                  V
                {% elif match.0.pk == m.team1.pk and m.score1 < m.score2 %}
                  D
                {% elif match.0.pk != m.team1.pk and m.score1 > m.score2 %}
                  D
                {% elif match.0.pk != m.team1.pk and m.score1 < m.score2 %}
                  V
                {% else  %}
                  -
                {% endif %}
                </a>
            </td>
              <div id="matchModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modifiez match</h4>
                    </div>
                    <div class="modal-body">
                      <form action="{% url "tournament.views.save_match_changes" trn.id pool.number m.id %}" method="post">
                        {% csrf_token %}
                        <div class="row field">
                          <div class="col-sm-4">
                            <label for="id_firstname">Score paire 1:</label>
                          </div>
                          <div class="col-sm-4">
                            {{ form.score1 }}
                            {% if m.score1 != None %}
                              {{m.score1}}
                            {% endif %}
                          </div>
                          <div class="col-sm-4 required">
                            {{ form.score1.errors }}
                          </div>
                        </div>

                        <div class="row field">
                          <div class="col-sm-4">
                            <label for="id_firstname">Score paire 2:</label>
                          </div>
                          <div class="col-sm-4">
                            {{ form.score2 }}
                            {% if m.score2 != None %}
                              {{m.score2}}
                            {% endif %}
                          </div>
                          <div class="col-sm-4 required">
                            {{ form.score2.errors }}
                          </div>
                        </div>

                        <div class="row field">
                          <div class="col-sm-4">
                            <label for="id_firstname">Terrain:</label>
                          </div>
                          <div class="col-sm-4">
                            {{ form.court }}
                          </div>
                          <div class="col-sm-4 required">
                            {{ form.court.errors }}
                          </div>
                        </div>
                        <input type="submit" value="Enregistrer" />
                      </form>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            {% endfor %}
            <td>{{ match.2 }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row field">
            <div class="col-sm-4">
              <strong>Terrain actuel</strong>:
            </div>
            <div class="col-sm-4">
              {{ pool.court }}
            </div>
          </div>

          <form action="{% url "tournament.views.pool" trn.id pool.number %}" method="post">
            {% csrf_token %}
            <div class="row field">
              <div class="col-sm-4">
                <label for="id_firstname">Changer terrain:</label>
              </div>
              <div class="col-sm-4">
                {{ court_form.court }}
              </div>
              <div class="col-sm-4 required">
                {{ court_form.court.errors }}
              </div>
            </div>
            <input type="submit" value="Enregistrer" />
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
