{% extends 'site_template.html' %}

{% block css %}
{% load staticfiles %}
<link href="{% static "css/modal.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
<title> {{ trn.name }} - Pool {{ pool.0.number }}
</title>
{% endblock %}

{% block content %}

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">
        Tournament {{ trn.name }} - Pool {{ pool.0.number }}
      </h2>
      <hr>

      <div class="panel">

        <div class="panel-heading">
          <h3 class="panel-title"> Pool {{ pool.0.number }} </h3>
        </div>

        <div class="CSSTableGenerator">
                <table>
                  <tr>
                    <td>Id</td>
                    <td>Noms</td>
                    <td>Victoires</td>
                    <td>Défaites</td>
                  </tr>
                  {% for p in pool.1 %}
                  <tr>
                    <td>{{ p.participant.id }}</td>
                    <td>{{ p.participant }}</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  {% endfor %}
                </table>
            </div>

        <div class="panel-body">


          <p> Fixtures </p>
          {% for pool_match in pool_matches %}
          <p> {{ pool_match.match }}  <a href="#matchModal">Edit</a></p>
          <div id="matchModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <form action="{% url "tournament.views.save_match_changes" trn.id 0 pool_match.match.id %}" method="post">
                {% csrf_token %}
                      <div class="fieldWrapper">
                          {{ form.score1.errors }}
                          {{ form.score1.label_tag }} {{ form.score1 }} {{ pool_match.match.score1 }}
                          {% if form.score1.help_text %}
                          <p class="help">{{ form.score1.help_text|safe }}</p>
                          {% endif %}
                      </div>
                      <div class="fieldWrapper">
                          {{ form.score2.errors }}
                          {{ form.score2.label_tag }} {{ form.score2 }} {{ pool_match.match.score2 }}
                          {% if form.score2.help_text %}
                          <p class="help">{{ form.score2.help_text|safe }}</p>
                          {% endif %}
                      </div>
                      <div class="fieldWrapper">
                          {{ form.court.errors }}
                          {{ form.court.label_tag }} {{ form.court }} {{ pool_match.match.court }}
                          {% if form.court.help_text %}
                          <p class="help">{{ form.court.help_text|safe }}</p>
                          {% endif %}
                      </div>
                <input type="submit" value="Enregistrer" />
              </form>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}
