{% extends 'staff_template.html' %}

{% block title %}
<title>Charles de Lorraine - Staff page</title>
{% endblock %}

{% block nav %}
	
{% endblock %}

{% block content %}
<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h2 class="intro-text text-center">Liste des
				<strong>terrains</strong>
			</h2>
			<hr>

			<div>
				{% for c in courts %}
				<div class="panel panel-default panel-body">
					<div class="row">
						<p> <b>Propriétaire:</b> {{ c.owner }} </p>
						<p> <b>Sol:</b> {{ c.ground }} </p>
						<p> <b>Accessibilité:</b> {{ c.comment_access }} </p>
						<p> <b>Disponible:</b> {{ c.available }} </p>
						<p> <b>Desiderata:</b> {{ c.comment_desiderata }} </p>
						{% if c.image %}
							<img src="{{ c.image.url }}" />
						{% endif %}
					</div>
				</div>

				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
