{% extends 'site_template.html' %}

{% block content %}
<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h2 class="intro-text text-center">
				<strong>Accueil</strong>
			</h2>
			<hr>
			<div class="panel-body">
				<p> Welcome {{ name }}</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h2 class="intro-text text-center">Launch
				<strong>a tournament</strong>
			</h2>
			<hr>
			<div class="panel-body">
				<form action={% url "staff.views.home" %} method="post">
					{% csrf_token %}
					{{ form_trn.as_p }}
					<input type="submit" value="Launch the tournament" onclick="return confirm('Are you sure ? Once the tournament has been launched, no player will be able to register for it.')" />
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h2 class="intro-text text-center">
				<strong>Messages</strong>
			</h2>
			<hr>
			<div class="panel-body">
				{% for message in messages %}  <!-- Display the messages received-->
				<p> Title: {{ message.title }} </p>
				<p> Text: {{ message.message }} </p>
				{% endfor %}

				<form action="{% url "staff.views.home" %}" method="post">  <!-- Form to create message -->
					{% csrf_token %}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">Ecrire</h4>
						</div>
						<div class="panel-body">
							{{ form_msg.as_p }}
						</div>
					</div>
					<input type="submit" value="Envoyer" />
				</form>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h2 class="intro-text text-center">
				<strong>Fichiers</strong>
			</h2>
			<hr>
			<div class="panel-body">
			</div>
		</div>
	</div>
</div>
{% endblock %}
