{% extends 'staff_template.html' %}


{% block content %}
<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h2 class="intro-text text-center">
				<strong>Liste des joueurs</strong>
			</h2>
			<hr>
			<center>
				<a href="{% url "staff.views.players" 1 %}">
					<button type="button" class="btn btn-info">Liste des joueurs</button>
				</a>
				<a href="{% url "staff.views.tournamentless_pairs" 1 %}">
					<button type="button" class="btn btn-info">Paires dans aucun tournois</button>
				</a>
				<a href="{% url "staff.views.pairless_players" 1 %}">
					<button type="button" class="btn btn-info">Joueurs dans aucunes paires</button>
				</a>
			</center>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default">

							<!-- DISPLAY LISTING OF PLAYERS -->

							<div class="panel-body">
								<ul class="list-group">
								{% for pair in pairs %}
									<li class="list-group-item"><a href="{% url "staff.views.particular_pair" pair.pk %}">{{ pair }}</a></li>
								{% endfor %}
								</ul>
							</div>
							<div class="panel-footer">

								<!-- NAVIGATION -->

								<nav>
									<ul class="pagination pagination-sm">
										{% if page_id == 1 %}
										<li class="disabled">
											<a href="#" aria-label="Previous">
												<span aria-hidden="true">&laquo;</span>
											</a>
										</li>
										{% else %}
										<li>
											<a href="{% url "staff.views.tournamentless_pairs" prev %}" aria-label="Previous">
												<span aria-hidden="true">&laquo;</span>
											</a>
										</li>
										{% endif %}

										{% for i in n %}

										{% if i == page_id %}
										<li class="active"><a href="#">{{i}}</a></li>
										{% else %}
										<li><a href="{% url "staff.views.tournamentless_pairs" i %}">{{i}}</a></li>
										{% endif %}

										{% endfor %}

										{% if page_id == number_pages %}
										<li class="disabled">
											<a href="#" aria-label="Next">
												<span aria-hidden="true">&raquo;</span>
											</a>
										</li>
										{% else %}
										<li>
											<a href="{% url "staff.views.tournamentless_pairs" next %}" aria-label="Next">
												<span aria-hidden="true">&raquo;</span>
											</a>
										</li>
										{% endif %}
									</ul>
								</nav>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}
